body{
    font-family:Ubuntu, sans-serif;
}
.navbar{
    background-color:rgba(255, 255, 255, 0);
    transition:ease-in 0.2s;
    padding-top:11px;
    padding-bottom:11px;
}
.showcase{
    width:95%;
    max-height:20rem;
    border-radius:10%;
    border:1.5px solid rgba(255, 255, 255, 0.9);
    display:block;
    margin-left:auto;
    margin-right:auto;
    object-fit:cover;
}
.infographic{
    width:85%;
    height:auto;
    max-height:20rem;
}
.my-link{
    color:inherit;
}
.my-link:hover{
    color:black;
}
h1 span, h2 span{
    font-size:1rem!important;
    background-color:rgba(40, 44, 52, 0.9);
}
.accordion-button::after{
    background-image:none;
    width:0;
    margin:0;
}
svg{
    margin-left:auto;
    transition: transform 0.2s ease-in-out;
    width:1.5rem;
    height:1.5rem;
}
.accordion-button:not(.collapsed) svg{
    transform:rotate(-180deg);
}
#ex1 h1{
    color:rgba(97, 175, 239, 1);
    font-size:calc(1.375rem + 3vw);
    font-family: 'Source Code Pro', monospace;
    border-bottom:1.5px solid rgba(97, 175, 239, 1);
}
#ex1 .accordion-button:not(.collapsed){
    color:rgba(97, 175, 239, 1);
    background-color:rgba(97, 175, 239, 0.2);
}
#ex1 .accordion-button:focus{
    border-color:rgba(97, 175, 239, 1);
    box-shadow:0 0 0 0.25rem rgba(97, 175, 239, 1);
}
#ex1 .takeaways{
    color:rgba(97, 175, 239, 1);
}
#ex2 h1{
    color:rgba(198, 120, 221, 1);
    font-size:calc(1.375rem + 3vw);
    font-family: 'Source Code Pro', monospace;
    border-bottom:1.5px solid rgba(198, 120, 221, 1);
}
#ex2 .accordion-button:not(.collapsed){
    color:rgba(198, 120, 221, 1);
    background-color:rgba(198, 120, 221, 0.2);
}
#ex2 .accordion-button:focus{
    border-color:rgba(198, 120, 221, 1);
    box-shadow:0 0 0 0.25rem rgba(198, 120, 221, 1);
}
#ex2 .takeaways{
    color:rgba(198, 120, 221, 1);
}
#ex3 h1{
    color:rgba(224, 108, 117, 1);
    font-size:calc(1.375rem + 3vw);
    font-family: 'Source Code Pro', monospace;
    border-bottom:1.5px solid rgba(224, 108, 117, 1);
}
#ex3 .accordion-button:not(.collapsed){
    color:rgba(224, 108, 117, 1);
    background-color:rgba(224, 108, 117, 0.2);
}
#ex3 .accordion-button:focus{
    border-color:rgba(224, 108, 117, 1);
    box-shadow:0 0 0 0.25rem rgba(224, 108, 117, 1);
}
#ex3 .takeaways{
    color:rgba(224, 108, 117, 1);
}
#ex4 h1{
    color:rgba(86, 182, 194, 1);
    font-size:calc(1.375rem + 3vw);
    font-family: 'Source Code Pro', monospace;
    border-bottom:1.5px solid rgba(86, 182, 194, 1);
}
#ex4 .accordion-button:not(.collapsed){
    color:rgba(86, 182, 194, 1);
    background-color:rgba(86, 182, 194, 0.2);
}
#ex4 .accordion-button:focus{
    border-color:rgba(86, 182, 194, 1);
    box-shadow:0 0 0 0.25rem rgba(86, 182, 194, 1);
}
#ex4 .takeaways{
    color:rgba(86, 182, 194, 1);
}
#am h1{
    color:rgba(152, 195, 121, 1);
    font-size:calc(1.375rem + 3vw);
    font-family: 'Source Code Pro', monospace;
    border-bottom:1.5px solid rgba(152, 195, 121, 1);
}
#am .accordion-button:not(.collapsed){
    color:rgba(152, 195, 121, 1);
    background-color:rgba(152, 195, 121, 0.2);
}
#am .accordion-button:focus{
    border-color:rgba(152, 195, 121, 1);
    box-shadow:0 0 0 0.25rem rgba(152, 195, 121, 1);
}
#am .takeaways{
    color:rgba(152, 195, 121, 1);
}
.parallax{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/landing.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
}
.parallax-msg{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/contact.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
}
.parallax h1, .parallax p{
    padding:10px;
    color:white;
}
.parallax-msg h1{
    padding:10px;
    color:white;
}
.takeaways ul{
    font-weight:300;
    font-size:1.25rem;
}
.navbar-dark .navbar-nav .nav-link{
    color:rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:rgba(255, 255, 255, 1);
    border-bottom:1px solid white;
    padding-bottom:0px;
    transition:0.3s ease;
}
.navbar-dark .navbar-nav .nav-link.active{
    border-bottom:1px solid white;
    padding-bottom:0px;
    transition:0.3s ease;
}
.dropdown-menu{
    background-color:rgba(255, 255, 255, 0)
}
footer a{
    text-decoration:none;
}
footer a:hover{
    text-decoration:underline;
}

@media(max-width:767.98px){
    #ex1 h1{
        border:none;
    }
    #ex2 h1{
        border:none;
    }
    #ex3 h1{
        border:none;
    }
    #ex4 h1{
        border:none;
    }
    #am h1{
        border:none;
    }
    .showcase{
        float:none;
        display:block;
        margin:auto;
    }
}